body {
    direction: ltr;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.form-group label{
    direction: ltr ;
}

.button_holder button, .button_holder a{
    float:right !important;
}

.arrow{
    float:left !important ;
}

.title_action{
    text-align:left !important;
}

.form-horizontal .control-label{
    text-align: left;
    margin-left: 50px;
}

.select2-container, .select2-container ul, .select2-container ul li, .select2-container-multi .select2-choices li{
    direction: ltr;
    float: left;
    text-align: left;
}

.formset_fieldset table .label_td, td, th, tr {
    text-align: left;
}